:root {
  --header-bacground: #f7f7f8;
  --header-red: #e94959;
  --text-color: #595959;
  --discover-button: #bfbfbf;
  --add-cart-button: #2b2b2b;
  --secondary-grey: #e6e6e6;
  --border-color: #ccc;
  --shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.text__color {
  color: var(--text-color);
}

.header {
  background-color: var(--header-bacground);
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 1.5rem;
  position: fixed;
  top: 0;
}
.header .navbar .navbar__menu {
  display: flex;
}
.header .navbar .navbar__menu .nav__logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.header .navbar .navbar__menu .nav__logo .nav__logo-icon {
  width: 2.5rem;
}
.header .navbar .navbar__menu .navbar__menu--index {
  display: none;
}
.header .navbar .navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .navbar .navbar__icons .bx {
  font-size: 1.2rem;
}
.header .header__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header .header__content .header__image {
  background: var(--header-red);
  width: 70%;
  height: 50vh;
  padding-bottom: 2rem;
  align-self: end;
  display: flex;
  align-items: end;
  justify-content: end;
}
.header .header__content .header__image img {
  max-width: 314px;
}
.header .header__content .header__description {
  height: 50vh;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header .header__content .header__description .header__title {
  line-height: 1.5;
}
.header .header__content .header__description .header__price {
  color: var(--header-red);
}
.header .header__content .header__description .header__buttons {
  display: flex;
}
.header .header__content .header__description .header__buttons a {
  box-shadow: var(--shadow);
}
.header .header__content .header__description .header__buttons a:nth-child(1) {
  padding: 1rem;
  margin: 1.2rem 0;
  background: var(--discover-button);
  font-weight: 600;
}
.header .header__content .header__description .header__buttons a:nth-child(1):hover {
  background: rgb(109, 104, 104);
  color: #fff;
}
.header .header__content .header__description .header__buttons a:nth-child(2) {
  margin: 0.8rem 0;
  padding: 1.5rem;
  background: var(--add-cart-button);
  color: #fff;
  font-weight: 600;
}
.header .header__content .header__description .header__buttons a:nth-child(2):hover {
  background: var(--header-red);
}

.main {
  padding: 2rem;
  background: var(--header-bacground);
}
.main .main__filter {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 4rem);
  text-align: center;
}
.main .main__filter .filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.main .main__filter .filter:not(:last-child) {
  border-right: 1px solid var(--border-color);
}
.main .main__filter .filter:hover {
  user-select: none;
  cursor: pointer;
}
.main .main__products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem 0;
}
.main .main__products .main__product {
  background: var(--secondary-grey);
  width: 70%;
  max-width: 350px;
  margin: auto;
  border-radius: 0.5rem;
}
.main .main__products .main__product img {
  transition: transform 0.5s;
}
.main .main__products .main__product img:hover {
  transform: translateY(-0.5rem);
}
.main .main__products .main__product .product__description {
  position: relative;
  background-color: #fff;
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  padding: 1rem;
}
.main .main__products .main__product .product__description .icon__product {
  position: absolute;
  background: #fff;
  top: -1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: var(--shadow);
}
.main .main__products .main__product .product__description .icon__product .bx {
  font-size: 1.5rem;
}
.main .main__products .main__product .product__description .icon__product:hover {
  background: var(--secondary-grey);
  color: #fff;
  cursor: pointer;
}
.main .main__products .main__product .product__description h3 {
  display: inline-block;
  border-right: 1px solid var(--border-color);
  padding: 0 0.3rem;
}
.main .main__products .main__product .product__description p {
  font-weight: 600;
}

.footer {
  background: var(--secondary-grey);
  padding: 6.5rem 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .footer__item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer .footer__social {
  flex-direction: row;
  font-size: 1.2rem;
}
.footer .copyRigth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/*# sourceMappingURL=styles.css.map */
